/* include border & padding within element's width and height */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 35px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    padding-bottom: 20px;
}

.web-development {
    margin-top: 75px;
}

hr {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 45px;
}

/* background image properties */
img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: -99;
}

/* properties for each article section */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: 30vh;
    margin: auto;
    margin-top: 40px;
    padding: 65px 35px 35px 65px;
    border-radius: 10px;
    background-color: #dce8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
}

.contact {
    align-items: center;   
}

li {
    margin-bottom: 15px;
}

/* anchor tag color */
a {
    text-decoration: none;
    color: rgb(19, 119, 241);
}

a:hover {
    color: rgb(218, 89, 30);
}

/* properties for footer section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    margin-top: 50px;
    background-color: rgb(43, 41, 41);
    color: white;
    padding: 5px 0 0 10px;
}

